.contato-bg{
  background-color: var(--cor-5);
}

.contato{
  padding-top: 80px;
  padding-bottom: 80px;
}

.contato-conteudo h1{
  font-size: 2.3rem;
  padding-top: 40px;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  display: table;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.contato-conteudo h1::before{
  left: -15px;
  transform: translate(-100%, 0);
}

.contato-conteudo h1::after{
  right: -15px;
  transform: translate(100%, 0);
}

.contato-conteudo h1::before,
.contato-conteudo h1::after{
  content: "";
  top: 50%;
  width: 70%;
  height: 2px;
  margin-top: -2.5px;
  background-color: #9a0205;
  display: block;
  position: absolute;
}

.contato-conteudo p{
  font-size: 1.3rem;
  color: var(--cor-0);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 2px;
  padding-bottom: 80px;
}

.contato-formulario{
  text-align: center;
}

.contato-formulario input,
.contato-formulario select{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--cor-5);
  color: var(--cor-0);
  padding: 10px 80px;
  margin-bottom: 40px;
  border: 2px solid #767676;
  border-radius: 4px;
}

.contato-formulario textarea{
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  background-color: var(--cor-5);
  color: var(--cor-0);
  border: 2px solid #767676;
  margin-bottom: 10px;
  border-radius: 4px;
}

.contato-formulario [ type="submit"]{
  border: 3px solid #9a0205;
}

@media (max-width: 780px){
  .servicos-conteudo h1::before{
    top: 30%;
    width: 40%;
  }

  .servicos-conteudo h1::after{
    top: 30%;
    width: 40%;
  }
}

@media (max-width: 520px){
  .contato-conteudo h1::before{
    width: 20%;
  }

  .contato-conteudo h1::after{
    width: 20%;
  }

  .contato-formulario input,
  .contato-formulario select{
    padding: 10px 35px;
  }

  .contato-formulario textarea{
    max-width: 350px;
  }

}

@media (max-width: 400px){
  .contato-conteudo h1::before{
    width: 5%;
  }

  .contato-conteudo h1::after{
    width: 5%;
  }

  .contato-conteudo p{
    font-size: 1.2rem;
  }
}

