.galeria{
  padding-bottom: 80px;
}

.galeria h1{
  font-size: 2.3rem;
  padding-top: 40px;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 3px;
  display: table;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.galeria h1::before{
  left: -15px;
  transform: translate(-100%, 0);
}

.galeria h1::after{
  right: -15px;
  transform: translate(100%, 0);
}

.galeria h1::before,
.galeria h1::after{
  content: "";
  top: 50%;
  width: 70%;
  height: 2px;
  margin-top: -2.5px;
  background-color: #9a0205;
  display: block;
  position: absolute;
}

.galeria-lista{
  display: flex;
  width: 100%;
  height: 100%;
}

.galeria-lista img{
  aspect-ratio: 9/16;
  min-width: 0px;
  flex: 1 1 10px;
  object-fit: cover;
  opacity: .5;
  transition: .7s;
}

.galeria-lista img:hover{
  flex: 1 1 100px;
  opacity: 1;
}

.galeria-lista img[src$=".jpg"]{
  border-radius: 0px;
}

.galeria-lista img:nth-child(1){
  border-radius: 4px 0px 0px 4px;
}

.galeria-lista img:nth-child(4){
  border-radius: 0px 4px 4px 0px;
}

@media (max-width:640px){
  .galeria-lista img {
    aspect-ratio: 6/15;
    min-width: 0px;
    flex: 1 1 10px;
    object-fit: cover;
    opacity: .5;
    transition: .7s;
  }
}

