.container{
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button{
  padding: 16px 16px;
  background-color: #9a0205;
  border-radius: 4px;
  border: none;
}
